/* idem! */

/*[class*="col-"] {
	border: 2px solid black;
  	border-radius: 6px;
}

.row {
	border: 2px solid red;
  	border-radius: 6px;
}
*/
[class*="col-"] {
  	text-align: center;
}

.navbar-collapse {
  max-height: none;
}

@media (max-width: 768px){
  .navbar-default {
    max-height: none;
  }
}

#welcome
{
	margin-top: 15px;
	color: #f62;
	font-family: 'Lato', arial, sans-serif;
	font-size: 21px;
	font-weight: 300;


}

.img1
{
	margin-top: 5px;
}

.navbar-default .navbar-nav>li>a, a
{
	text-decoration: none;
	color: #666;
	font-family: 'Lato', arial, sans-serif;
}

.mail{
	text-decoration: underline;
	color: #f62;
}

header
{
	font-family: 'Lato', arial, sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #666;
}

h1
{
	color: #f62;
	font-family: 'Lato', arial, sans-serif;
	font-size: 48px;
	font-weight: 300;
}

h2
{
	color: #f62;
	font-family: 'Lato', arial, sans-serif;
	font-size: 27px;
	font-weight: 300;
	margin-top: 10px;
}

h3
{
	color: #666;
	font-family: 'Lato', arial, sans-serif;
	font-size: 25px;
	font-weight: 300;
	margin-top: 10px;
}

p
{
	color: #666;
	font-family: 'Lato', arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.blanc
{
	color: white;
	text-shadow:0px 2px 4px black;
}

#block1
{
  	background: url(../img/bg_fleurs3.jpg) no-repeat center center fixed;
  	background-size: cover;
  	padding-top: 72px;
	padding-bottom: 55px;
}

#block2
{
  	background: url(../img/bg_gm.jpg) no-repeat center center fixed;
  	background-size: cover;
  	padding-top: 10px;
	padding-bottom: 30px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #f62;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a:active {
    color: #f62;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a.selected
{
    color: #f62;
	text-decoration: none;

}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover
{
	color: #f62;
	background-color: white;
}

.nav
{
	list-style-type: none;
	font-size: 15px;
	font-weight: 300;
	/*height: 72px;*/
}

#colnav
{
	/*height: 72px;*/
	text-align: left;
}

.navbar-nav>li>a
{
	margin-top: 26px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 15px;

}

nav
{
	background-color: white;
	padding-top: 10px;
	border-bottom: 1px solid rgb(202,202,202);
}


.navbar-default
{
	background-color: white;
}

.navbar-toggle
{
	margin-left: 30px;
}



.finpart1
{
	border-bottom: 1px solid rgb(202,202,202);
	box-shadow: 0px 1px 1px rgb(202,202,202);
}

.finpart2
{
	border-bottom: 1px solid rgb(202,202,202);
	margin-bottom: 25px;
	margin-top: 50px;
	box-shadow: 0px 1px 1px rgb(202,202,202);
}

strong
{
	color: #f62;
}

.finpart3
{
	border-bottom: 1px solid rgb(202,202,202);
	margin-bottom: 25px;
	box-shadow: 0px 1px 1px rgb(202,202,202);
}

.iframe{
	margin-top: 50px;
}

textarea
{
	width: 30%;
	height: 100px;
}

.container-fluid
{
	padding-left:0px;
	padding-right:0px;
}

.content
{
	display: inline-block;
    vertical-align: middle;
    float: none;
    margin-bottom: 20px;
    text-align: left;
}

.desc
{
	padding-right: 60px;
	text-align: justify;
}

#le_gite
{
	margin-bottom: 20px;
}

#autour_de_nous
{
	margin-bottom: 20px;
}

.symbol
{
	margin-top: 50px;
	margin-bottom: 50px;
}


.thumbnail
{
	height: 133px;
	width: 200px;
	display: inline-block;
	text-align: center;

}

.lightbox{
	height: 138px;
	width: 201px;
	padding: 0px;
}

.img-thumbnail{
	display: inline-block;
	text-align: center;	
}

.btn-primary
{
	background-color: #f62;
	border-color: #f62;
}

.btn-primary:hover
{
	background-color: rgb(240,130,40);
	border-color: rgb(240,130,40);
}
